In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Wrangling

## Gathering

df_2019 = pd.read_csv('Jan_2019_ontime.csv')
df_2020 = pd.read_csv('Jan_2020_ontime.csv')

## Assessing

In [16]:
print("No of rows = {} and No of Columns = {} ".format(df_2019.shape[0],df_2019.shape[1]))

No of rows = 583985 and No of Columns = 22

In [17]:
print("No of rows = {} and No of Columns = {} ".format(df_2020.shape[0],df_2019.shape[1]))

No of rows = 607346 and No of Columns = 22

In [7]:
df_2019.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN

In [8]:
df_2020.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0.0,0.0,174.0,NaN
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0.0,0.0,585.0,NaN
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0.0,0.0,631.0,NaN
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0.0,0.0,253.0,NaN
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0.0,0.0,1157.0,NaN

In [9]:
df_2019.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                float64
DIVERTED                 float64
DISTANCE                 float64
Unnamed: 21              float64
dtype: object

In [10]:
df_2020.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                float64
DIVERTED                 float64
DISTANCE                 float64
Unnamed: 21              float64
dtype: object

In [20]:
df_2019.isnull().sum()[df_2019.isnull().sum()>0].sort_values(ascending=False)

Unnamed: 21    583985
ARR_DEL15       18022
ARR_TIME        17061
DEP_DEL15       16355
DEP_TIME        16352
TAIL_NUM         2543
dtype: int64

In [21]:
df_2020.isnull().sum()[df_2020.isnull().sum()>0].sort_values(ascending=False)

Unnamed: 21    607346
ARR_DEL15        8078
ARR_TIME         7075
DEP_DEL15        6699
DEP_TIME         6664
TAIL_NUM          698
dtype: int64

In [22]:
df_2019.duplicated().sum()

0

In [23]:
df_2020.duplicated().sum()

0

***

> - 1: Need to check datatype of columns DEP_TIME and ARR_TIME for both dataframes.
- 2: Drop column Unnamed: 21 from both dataframes.
- 3: Need to handle missing values for columns (ARR_DEL15, ARR_TIME, DEP_DEL15, DEP_TIME, TAIL_NUM) in both data frames.
- 4: Need to merge df_2019 and df_2020 into single dataframe.
****

## Cleaning

In [24]:
df_clean_2019 = df_2019.copy()
df_clean_2020 = df_2020.copy()

 - 1: Need to check datatype of columns DEP_TIME and ARR_TIME for both dataframes.

In [25]:
df_clean_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583985 entries, 0 to 583984
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DAY_OF_MONTH           583985 non-null  int64
 1   DAY_OF_WEEK            583985 non-null  int64
 2   OP_UNIQUE_CARRIER      583985 non-null  object
 3   OP_CARRIER_AIRLINE_ID  583985 non-null  int64
 4   OP_CARRIER             583985 non-null  object
 5   TAIL_NUM               581442 non-null  object
 6   OP_CARRIER_FL_NUM      583985 non-null  int64
 7   ORIGIN_AIRPORT_ID      583985 non-null  int64
 8   ORIGIN_AIRPORT_SEQ_ID  583985 non-null  int64
 9   ORIGIN                 583985 non-null  object
 10  DEST_AIRPORT_ID        583985 non-null  int64
 11  DEST_AIRPORT_SEQ_ID    583985 non-null  int64
 12  DEST                   583985 non-null  object
 13  DEP_TIME               567633 non-null  float64
 14  DEP_DEL15              567630 non-null  float64
 15  DEP_TIME_BLK           583985 non-null  object
 16  ARR_TIME               566924 non-null  float64
 17  ARR_DEL15              565963 non-null  float64
 18  CANCELLED              583985 non-null  float64
 19  DIVERTED               583985 non-null  float64
 20  DISTANCE               583985 non-null  float64
 21  Unnamed: 21            0 non-null       float64
dtypes: float64(8), int64(8), object(6)
memory usage: 98.0+ MB

In [58]:
df_clean_2019[['DEP_TIME','DEP_TIME_BLK']].head(10)

   DEP_TIME DEP_TIME_BLK
0     601.0    0600-0659
1    1359.0    1400-1459
2    1215.0    1200-1259
3    1521.0    1500-1559
4    1847.0    1900-1959
5     853.0    0900-0959
6    1553.0    1500-1559
7    1551.0    1500-1559
8    1037.0    1000-1059
9    1245.0    1200-1259

In [61]:
df_clean_2019[df_clean_2019.DEP_TIME == 11]

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
10905,1,2,AA,19805,AA,N148AN,2688,14771,1477104,SFO,...,MIA,11.0,1.0,2200-2259,832.0,1.0,0.0,0.0,2585.0,NaN
19000,2,3,AA,19805,AA,N747UW,1638,11057,1105703,CLT,...,MEM,11.0,0.0,0001-0559,57.0,0.0,0.0,0.0,511.0,NaN
19003,2,3,AA,19805,AA,N112US,1641,11057,1105703,CLT,...,PIT,11.0,0.0,0001-0559,122.0,0.0,0.0,0.0,366.0,NaN
22520,2,3,WN,19393,WN,N7709A,5711,14107,1410702,PHX,...,SFO,11.0,1.0,2200-2259,104.0,1.0,0.0,0.0,651.0,NaN
26233,2,3,EV,20366,EV,N884AS,3966,12264,1226402,IAD,...,RIC,11.0,1.0,2200-2259,53.0,1.0,0.0,0.0,100.0,NaN
27737,2,3,AA,19805,AA,N991NN,2749,11298,1129806,DFW,...,MEM,11.0,0.0,0001-0559,130.0,0.0,0.0,0.0,431.0,NaN
27914,2,3,WN,19393,WN,N225WN,2994,15016,1501606,STL,...,AUS,11.0,1.0,2200-2259,216.0,1.0,0.0,0.0,721.0,NaN
54065,3,4,UA,19977,UA,N843UA,384,14771,1477104,SFO,...,PHL,11.0,0.0,2300-2359,822.0,0.0,0.0,0.0,2521.0,NaN
62167,4,5,UA,19977,UA,N61887,680,14771,1477104,SFO,...,ORD,11.0,0.0,0001-0559,616.0,0.0,0.0,0.0,1846.0,NaN
65959,4,5,AA,19805,AA,N157AA,278,14747,1474703,SEA,...,ORD,11.0,0.0,0001-0559,550.0,0.0,0.0,0.0,1721.0,NaN
99858,6,7,UA,19977,UA,N36207,1027,14893,1489302,SMF,...,EWR,11.0,1.0,2300-2359,801.0,0.0,0.0,0.0,2500.0,NaN
203718,11,5,DL,19790,DL,N686DA,2597,10299,1029906,ANC,...,MSP,11.0,1.0,2100-2159,828.0,1.0,0.0,0.0,2519.0,NaN
223882,12,6,B6,20409,B6,N504JB,531,14869,1486903,SLC,...,LGB,11.0,1.0,1800-1859,55.0,1.0,0.0,0.0,588.0,NaN
241575,13,7,DL,19790,DL,N861DN,2715,10397,1039707,ATL,...,DTW,11.0,1.0,2200-2259,152.0,1.0,0.0,0.0,594.0,NaN
290613,16,3,AA,19805,AA,N106NN,276,14771,1477104,SFO,...,JFK,11.0,1.0,2300-2359,840.0,1.0,0.0,0.0,2586.0,NaN
308465,17,4,NK,20416,NK,N643NK,811,13204,1320402,MCO,...,SJU,11.0,1.0,2300-2359,332.0,1.0,0.0,0.0,1189.0,NaN
361830,20,7,AS,19930,AS,N464AS,128,11630,1163002,FAI,...,SEA,11.0,0.0,0001-0559,440.0,0.0,0.0,0.0,1533.0,NaN
389076,21,1,9E,20363,9E,N909XJ,5146,12953,1295304,LGA,...,PIT,11.0,1.0,2000-2059,131.0,1.0,0.0,0.0,335.0,NaN
432982,24,4,AA,19805,AA,N952AA,110,11057,1105703,CLT,...,BNA,11.0,1.0,2200-2259,41.0,1.0,0.0,0.0,328.0,NaN
451259,24,4,OO,20304,OO,N917SW,5070,13930,1393007,ORD,...,PAH,11.0,1.0,2100-2159,138.0,1.0,0.0,0.0,342.0,NaN
493667,27,7,AA,19805,AA,N938NN,2651,14107,1410702,PHX,...,JFK,11.0,0.0,0001-0559,645.0,0.0,0.0,0.0,2153.0,NaN
514296,28,1,NK,20416,NK,N637NK,788,12889,1288903,LAS,...,DTW,11.0,1.0,2300-2359,646.0,1.0,0.0,0.0,1749.0,NaN

In [81]:
list(df_clean_2019.DEP_TIME.unique()).sort()
print(sorted(list(df_clean_2019.DEP_TIME.unique())))

[2.0, 107.0, 306.0, 524.0, 540.0, 546.0, 549.0, 550.0, 552.0, 553.0, 554.0, 556.0, 557.0, 601.0, 602.0, 605.0, 608.0, 610.0, 612.0, 617.0, 622.0, 623.0, 625.0, 633.0, 636.0, 639.0, 648.0, 649.0, 651.0, 653.0, 654.0, 656.0, 657.0, 701.0, 702.0, 707.0, 713.0, 714.0, 717.0, 726.0, 727.0, 743.0, 744.0, 745.0, 755.0, 758.0, 759.0, 803.0, 807.0, 816.0, 817.0, 822.0, 824.0, 825.0, 827.0, 828.0, 829.0, 830.0, 832.0, 833.0, 834.0, 835.0, 836.0, 837.0, 843.0, 847.0, 850.0, 851.0, 852.0, 853.0, 854.0, 855.0, 857.0, 859.0, 900.0, 903.0, 905.0, 907.0, 911.0, 912.0, 913.0, 914.0, 917.0, 919.0, 921.0, 925.0, 927.0, 928.0, 931.0, 936.0, 937.0, 939.0, 940.0, 941.0, 948.0, 949.0, 953.0, 954.0, 955.0, 956.0, 957.0, 958.0, 1000.0, 1010.0, 1011.0, 1013.0, 1014.0, 1016.0, 1018.0, 1020.0, 1021.0, 1023.0, 1024.0, 1025.0, 1029.0, 1030.0, 1033.0, 1037.0, 1041.0, 1045.0, 1047.0, 1049.0, 1051.0, 1052.0, 1054.0, 1055.0, 1056.0, 1058.0, 1100.0, 1101.0, 1106.0, 1110.0, 1111.0, 1116.0, 1117.0, 1118.0, 1119.0, 1120.0, 1122.0, 1124.0, 1130.0, 1131.0, 1132.0, 1134.0, 1136.0, 1143.0, 1145.0, 1147.0, 1148.0, 1150.0, 1152.0, 1156.0, 1157.0, 1200.0, 1201.0, 1202.0, 1203.0, 1206.0, 1207.0, 1209.0, 1210.0, 1214.0, 1215.0, 1218.0, 1222.0, 1223.0, 1224.0, 1225.0, 1227.0, 1234.0, 1236.0, 1238.0, 1239.0, 1241.0, 1242.0, 1245.0, 1248.0, 1250.0, 1251.0, 1252.0, 1253.0, 1254.0, 1257.0, 1259.0, 1300.0, 1305.0, 1307.0, 1308.0, 1312.0, 1325.0, 1326.0, 1327.0, 1330.0, 1332.0, 1336.0, 1337.0, 1339.0, 1341.0, 1349.0, 1353.0, 1354.0, 1359.0, 1410.0, 1411.0, 1412.0, 1414.0, 1415.0, 1418.0, 1425.0, 1428.0, 1430.0, 1432.0, 1436.0, 1438.0, 1441.0, 1442.0, 1443.0, 1449.0, 1450.0, 1451.0, 1454.0, 1456.0, 1459.0, 1507.0, 1514.0, 1516.0, 1518.0, 1519.0, 1521.0, 1523.0, 1527.0, 1530.0, 1531.0, 1534.0, 1535.0, 1537.0, 1539.0, 1541.0, 1542.0, 1543.0, 1545.0, 1547.0, 1550.0, 1551.0, 1552.0, 1553.0, 1554.0, 1556.0, 1558.0, 1605.0, 1608.0, 1609.0, 1613.0, 1615.0, 1617.0, 1621.0, 1622.0, 1624.0, 1627.0, 1629.0, 1631.0, 1636.0, 1637.0, 1639.0, 1644.0, 1647.0, 1651.0, 1653.0, 1656.0, 1659.0, 1701.0, 1707.0, 1712.0, 1713.0, 1714.0, 1715.0, 1723.0, 1729.0, 1731.0, 1732.0, 1734.0, 1737.0, 1738.0, 1739.0, 1740.0, 1742.0, 1743.0, 1744.0, 1748.0, 1755.0, 1802.0, 1810.0, 1821.0, 1825.0, 1826.0, 1835.0, 1838.0, 1840.0, 1847.0, 1851.0, 1852.0, 1857.0, 1858.0, 1902.0, 1934.0, 1936.0, 1941.0, 1952.0, 1957.0, 2006.0, 2007.0, 2009.0, 2010.0, 2014.0, 2021.0, 2023.0, 2028.0, 2029.0, 2034.0, 2036.0, 2037.0, 2048.0, 2053.0, 2055.0, 2101.0, 2104.0, 2110.0, 2111.0, 2114.0, 2117.0, 2122.0, 2131.0, 2133.0, 2135.0, 2145.0, 2153.0, 2205.0, 2210.0, 2216.0, 2219.0, 2221.0, 2226.0, 2242.0, 2312.0, 2331.0, nan, 1.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 117.0, 118.0, 119.0, 120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126.0, 127.0, 128.0, 129.0, 130.0, 131.0, 132.0, 133.0, 134.0, 135.0, 136.0, 137.0, 138.0, 139.0, 140.0, 141.0, 142.0, 143.0, 144.0, 145.0, 146.0, 147.0, 148.0, 149.0, 150.0, 151.0, 152.0, 153.0, 154.0, 155.0, 156.0, 157.0, 158.0, 159.0, 200.0, 201.0, 202.0, 203.0, 204.0, 205.0, 206.0, 207.0, 208.0, 209.0, 210.0, 211.0, 212.0, 213.0, 214.0, 215.0, 216.0, 217.0, 218.0, 219.0, 220.0, 221.0, 222.0, 223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229.0, 230.0, 231.0, 232.0, 233.0, 234.0, 235.0, 236.0, 237.0, 238.0, 239.0, 240.0, 241.0, 242.0, 243.0, 244.0, 245.0, 246.0, 247.0, 248.0, 249.0, 250.0, 251.0, 252.0, 253.0, 254.0, 255.0, 256.0, 257.0, 258.0, 259.0, 300.0, 301.0, 302.0, 303.0, 304.0, 305.0, 307.0, 308.0, 309.0, 310.0, 311.0, 312.0, 313.0, 314.0, 315.0, 317.0, 318.0, 319.0, 320.0, 321.0, 322.0, 323.0, 324.0, 325.0, 326.0, 327.0, 328.0, 329.0, 330.0, 331.0, 332.0, 333.0, 334.0, 335.0, 336.0, 337.0, 338.0, 339.0, 340.0, 341.0, 342.0, 343.0, 344.0, 345.0, 346.0, 347.0, 348.0, 349.0, 350.0, 351.0, 352.0, 353.0, 354.0, 355.0, 356.0, 357.0, 358.0, 359.0, 400.0, 402.0, 403.0, 404.0, 405.0, 406.0, 407.0, 408.0, 409.0, 410.0, 411.0, 412.0, 413.0, 414.0, 415.0, 416.0, 417.0, 418.0, 419.0, 420.0, 421.0, 422.0, 423.0, 424.0, 425.0, 426.0, 427.0, 428.0, 429.0, 430.0, 431.0, 432.0, 433.0, 434.0, 435.0, 436.0, 437.0, 438.0, 439.0, 440.0, 441.0, 442.0, 443.0, 444.0, 445.0, 446.0, 447.0, 448.0, 449.0, 450.0, 451.0, 452.0, 453.0, 454.0, 455.0, 456.0, 457.0, 458.0, 459.0, 500.0, 501.0, 502.0, 503.0, 504.0, 505.0, 506.0, 507.0, 508.0, 509.0, 510.0, 511.0, 512.0, 513.0, 514.0, 515.0, 516.0, 517.0, 518.0, 519.0, 520.0, 521.0, 522.0, 523.0, 525.0, 526.0, 527.0, 528.0, 529.0, 530.0, 531.0, 532.0, 533.0, 534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 541.0, 542.0, 543.0, 544.0, 545.0, 547.0, 548.0, 551.0, 555.0, 558.0, 559.0, 600.0, 603.0, 604.0, 606.0, 607.0, 609.0, 611.0, 613.0, 614.0, 615.0, 616.0, 618.0, 619.0, 620.0, 621.0, 624.0, 626.0, 627.0, 628.0, 629.0, 630.0, 631.0, 632.0, 634.0, 635.0, 637.0, 638.0, 640.0, 641.0, 642.0, 643.0, 644.0, 645.0, 646.0, 647.0, 650.0, 652.0, 655.0, 658.0, 659.0, 700.0, 703.0, 704.0, 705.0, 706.0, 708.0, 709.0, 710.0, 711.0, 712.0, 715.0, 716.0, 718.0, 719.0, 720.0, 721.0, 722.0, 723.0, 724.0, 725.0, 728.0, 729.0, 730.0, 731.0, 732.0, 733.0, 734.0, 735.0, 736.0, 737.0, 738.0, 739.0, 740.0, 741.0, 742.0, 746.0, 747.0, 748.0, 749.0, 750.0, 751.0, 752.0, 753.0, 754.0, 756.0, 757.0, 800.0, 801.0, 802.0, 804.0, 805.0, 806.0, 808.0, 809.0, 810.0, 811.0, 812.0, 813.0, 814.0, 815.0, 818.0, 819.0, 820.0, 821.0, 823.0, 826.0, 831.0, 838.0, 839.0, 840.0, 841.0, 842.0, 844.0, 845.0, 846.0, 848.0, 849.0, 856.0, 858.0, 901.0, 902.0, 904.0, 906.0, 908.0, 909.0, 910.0, 915.0, 916.0, 918.0, 920.0, 922.0, 923.0, 924.0, 926.0, 929.0, 930.0, 932.0, 933.0, 934.0, 935.0, 938.0, 942.0, 943.0, 944.0, 945.0, 946.0, 947.0, 950.0, 951.0, 952.0, 959.0, 1001.0, 1002.0, 1003.0, 1004.0, 1005.0, 1006.0, 1007.0, 1008.0, 1009.0, 1012.0, 1015.0, 1017.0, 1019.0, 1022.0, 1026.0, 1027.0, 1028.0, 1031.0, 1032.0, 1034.0, 1035.0, 1036.0, 1038.0, 1039.0, 1040.0, 1042.0, 1043.0, 1044.0, 1046.0, 1048.0, 1050.0, 1053.0, 1057.0, 1059.0, 1102.0, 1103.0, 1104.0, 1105.0, 1107.0, 1108.0, 1109.0, 1112.0, 1113.0, 1114.0, 1115.0, 1121.0, 1123.0, 1125.0, 1126.0, 1127.0, 1128.0, 1129.0, 1133.0, 1135.0, 1137.0, 1138.0, 1139.0, 1140.0, 1141.0, 1142.0, 1144.0, 1146.0, 1149.0, 1151.0, 1153.0, 1154.0, 1155.0, 1158.0, 1159.0, 1204.0, 1205.0, 1208.0, 1211.0, 1212.0, 1213.0, 1216.0, 1217.0, 1219.0, 1220.0, 1221.0, 1226.0, 1228.0, 1229.0, 1230.0, 1231.0, 1232.0, 1233.0, 1235.0, 1237.0, 1240.0, 1243.0, 1244.0, 1246.0, 1247.0, 1249.0, 1255.0, 1256.0, 1258.0, 1301.0, 1302.0, 1303.0, 1304.0, 1306.0, 1309.0, 1310.0, 1311.0, 1313.0, 1314.0, 1315.0, 1316.0, 1317.0, 1318.0, 1319.0, 1320.0, 1321.0, 1322.0, 1323.0, 1324.0, 1328.0, 1329.0, 1331.0, 1333.0, 1334.0, 1335.0, 1338.0, 1340.0, 1342.0, 1343.0, 1344.0, 1345.0, 1346.0, 1347.0, 1348.0, 1350.0, 1351.0, 1352.0, 1355.0, 1356.0, 1357.0, 1358.0, 1400.0, 1401.0, 1402.0, 1403.0, 1404.0, 1405.0, 1406.0, 1407.0, 1408.0, 1409.0, 1413.0, 1416.0, 1417.0, 1419.0, 1420.0, 1421.0, 1422.0, 1423.0, 1424.0, 1426.0, 1427.0, 1429.0, 1431.0, 1433.0, 1434.0, 1435.0, 1437.0, 1439.0, 1440.0, 1444.0, 1445.0, 1446.0, 1447.0, 1448.0, 1452.0, 1453.0, 1455.0, 1457.0, 1458.0, 1500.0, 1501.0, 1502.0, 1503.0, 1504.0, 1505.0, 1506.0, 1508.0, 1509.0, 1510.0, 1511.0, 1512.0, 1513.0, 1515.0, 1517.0, 1520.0, 1522.0, 1524.0, 1525.0, 1526.0, 1528.0, 1529.0, 1532.0, 1533.0, 1536.0, 1538.0, 1540.0, 1544.0, 1546.0, 1548.0, 1549.0, 1555.0, 1557.0, 1559.0, 1600.0, 1601.0, 1602.0, 1603.0, 1604.0, 1606.0, 1607.0, 1610.0, 1611.0, 1612.0, 1614.0, 1616.0, 1618.0, 1619.0, 1620.0, 1623.0, 1625.0, 1626.0, 1628.0, 1630.0, 1632.0, 1633.0, 1634.0, 1635.0, 1638.0, 1640.0, 1641.0, 1642.0, 1643.0, 1645.0, 1646.0, 1648.0, 1649.0, 1650.0, 1652.0, 1654.0, 1655.0, 1657.0, 1658.0, 1700.0, 1702.0, 1703.0, 1704.0, 1705.0, 1706.0, 1708.0, 1709.0, 1710.0, 1711.0, 1716.0, 1717.0, 1718.0, 1719.0, 1720.0, 1721.0, 1722.0, 1724.0, 1725.0, 1726.0, 1727.0, 1728.0, 1730.0, 1733.0, 1735.0, 1736.0, 1741.0, 1745.0, 1746.0, 1747.0, 1749.0, 1750.0, 1751.0, 1752.0, 1753.0, 1754.0, 1756.0, 1757.0, 1758.0, 1759.0, 1800.0, 1801.0, 1803.0, 1804.0, 1805.0, 1806.0, 1807.0, 1808.0, 1809.0, 1811.0, 1812.0, 1813.0, 1814.0, 1815.0, 1816.0, 1817.0, 1818.0, 1819.0, 1820.0, 1822.0, 1823.0, 1824.0, 1827.0, 1828.0, 1829.0, 1830.0, 1831.0, 1832.0, 1833.0, 1834.0, 1836.0, 1837.0, 1839.0, 1841.0, 1842.0, 1843.0, 1844.0, 1845.0, 1846.0, 1848.0, 1849.0, 1850.0, 1853.0, 1854.0, 1855.0, 1856.0, 1859.0, 1900.0, 1901.0, 1903.0, 1904.0, 1905.0, 1906.0, 1907.0, 1908.0, 1909.0, 1910.0, 1911.0, 1912.0, 1913.0, 1914.0, 1915.0, 1916.0, 1917.0, 1918.0, 1919.0, 1920.0, 1921.0, 1922.0, 1923.0, 1924.0, 1925.0, 1926.0, 1927.0, 1928.0, 1929.0, 1930.0, 1931.0, 1932.0, 1933.0, 1935.0, 1937.0, 1938.0, 1939.0, 1940.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1953.0, 1954.0, 1955.0, 1956.0, 1958.0, 1959.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2008.0, 2011.0, 2012.0, 2013.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0, 2022.0, 2024.0, 2025.0, 2026.0, 2027.0, 2030.0, 2031.0, 2032.0, 2033.0, 2035.0, 2038.0, 2039.0, 2040.0, 2041.0, 2042.0, 2043.0, 2044.0, 2045.0, 2046.0, 2047.0, 2049.0, 2050.0, 2051.0, 2052.0, 2054.0, 2056.0, 2057.0, 2058.0, 2059.0, 2100.0, 2102.0, 2103.0, 2105.0, 2106.0, 2107.0, 2108.0, 2109.0, 2112.0, 2113.0, 2115.0, 2116.0, 2118.0, 2119.0, 2120.0, 2121.0, 2123.0, 2124.0, 2125.0, 2126.0, 2127.0, 2128.0, 2129.0, 2130.0, 2132.0, 2134.0, 2136.0, 2137.0, 2138.0, 2139.0, 2140.0, 2141.0, 2142.0, 2143.0, 2144.0, 2146.0, 2147.0, 2148.0, 2149.0, 2150.0, 2151.0, 2152.0, 2154.0, 2155.0, 2156.0, 2157.0, 2158.0, 2159.0, 2200.0, 2201.0, 2202.0, 2203.0, 2204.0, 2206.0, 2207.0, 2208.0, 2209.0, 2211.0, 2212.0, 2213.0, 2214.0, 2215.0, 2217.0, 2218.0, 2220.0, 2222.0, 2223.0, 2224.0, 2225.0, 2227.0, 2228.0, 2229.0, 2230.0, 2231.0, 2232.0, 2233.0, 2234.0, 2235.0, 2236.0, 2237.0, 2238.0, 2239.0, 2240.0, 2241.0, 2243.0, 2244.0, 2245.0, 2246.0, 2247.0, 2248.0, 2249.0, 2250.0, 2251.0, 2252.0, 2253.0, 2254.0, 2255.0, 2256.0, 2257.0, 2258.0, 2259.0, 2300.0, 2301.0, 2302.0, 2303.0, 2304.0, 2305.0, 2306.0, 2307.0, 2308.0, 2309.0, 2310.0, 2311.0, 2313.0, 2314.0, 2315.0, 2316.0, 2317.0, 2318.0, 2319.0, 2320.0, 2321.0, 2322.0, 2323.0, 2324.0, 2325.0, 2326.0, 2327.0, 2328.0, 2329.0, 2330.0, 2332.0, 2333.0, 2334.0, 2335.0, 2336.0, 2337.0, 2338.0, 2339.0, 2340.0, 2341.0, 2342.0, 2343.0, 2344.0, 2345.0, 2346.0, 2347.0, 2348.0, 2349.0, 2350.0, 2351.0, 2352.0, 2353.0, 2354.0, 2355.0, 2356.0, 2357.0, 2358.0, 2359.0, 2400.0]

In [57]:
pd.to_datetime(df_clean_2019.DEP_TIME,format='%H%M',errors='raise').dt.time

ValueError: time data '3' does not match format '%H%M' (match)