In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Wrangling

## Gathering

df_2019 = pd.read_csv('Jan_2019_ontime.csv')
df_2020 = pd.read_csv('Jan_2020_ontime.csv')

## Assessing

In [16]:
print("No of rows = {} and No of Columns = {} ".format(df_2019.shape[0],df_2019.shape[1]))

No of rows = 583985 and No of Columns = 22

In [17]:
print("No of rows = {} and No of Columns = {} ".format(df_2020.shape[0],df_2019.shape[1]))

No of rows = 607346 and No of Columns = 22

In [7]:
df_2019.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN

In [8]:
df_2020.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0.0,0.0,174.0,NaN
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0.0,0.0,585.0,NaN
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0.0,0.0,631.0,NaN
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0.0,0.0,253.0,NaN
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0.0,0.0,1157.0,NaN

In [9]:
df_2019.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                float64
DIVERTED                 float64
DISTANCE                 float64
Unnamed: 21              float64
dtype: object

In [10]:
df_2020.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST                      object
DEP_TIME                 float64
DEP_DEL15                float64
DEP_TIME_BLK              object
ARR_TIME                 float64
ARR_DEL15                float64
CANCELLED                float64
DIVERTED                 float64
DISTANCE                 float64
Unnamed: 21              float64
dtype: object

In [20]:
df_2019.isnull().sum()[df_2019.isnull().sum()>0].sort_values(ascending=False)

Unnamed: 21    583985
ARR_DEL15       18022
ARR_TIME        17061
DEP_DEL15       16355
DEP_TIME        16352
TAIL_NUM         2543
dtype: int64

In [21]:
df_2020.isnull().sum()[df_2020.isnull().sum()>0].sort_values(ascending=False)

Unnamed: 21    607346
ARR_DEL15        8078
ARR_TIME         7075
DEP_DEL15        6699
DEP_TIME         6664
TAIL_NUM          698
dtype: int64

In [22]:
df_2019.duplicated().sum()

0

In [23]:
df_2020.duplicated().sum()

0

***

> - 1: Need to check datatype of columns DEP_TIME and ARR_TIME for both dataframes.
- 2: Drop column Unnamed: 21 from both dataframes.
- 3: Need to handle missing values for columns (ARR_DEL15, ARR_TIME, DEP_DEL15, DEP_TIME, TAIL_NUM) in both data frames.
- 4: Need to merge df_2019 and df_2020 into single dataframe.
****

## Cleaning

In [24]:
df_clean_2019 = df_2019.copy()
df_clean_2020 = df_2020.copy()

 - 1: Need to check datatype of columns DEP_TIME and ARR_TIME for both dataframes.

In [25]:
df_clean_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583985 entries, 0 to 583984
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DAY_OF_MONTH           583985 non-null  int64
 1   DAY_OF_WEEK            583985 non-null  int64
 2   OP_UNIQUE_CARRIER      583985 non-null  object
 3   OP_CARRIER_AIRLINE_ID  583985 non-null  int64
 4   OP_CARRIER             583985 non-null  object
 5   TAIL_NUM               581442 non-null  object
 6   OP_CARRIER_FL_NUM      583985 non-null  int64
 7   ORIGIN_AIRPORT_ID      583985 non-null  int64
 8   ORIGIN_AIRPORT_SEQ_ID  583985 non-null  int64
 9   ORIGIN                 583985 non-null  object
 10  DEST_AIRPORT_ID        583985 non-null  int64
 11  DEST_AIRPORT_SEQ_ID    583985 non-null  int64
 12  DEST                   583985 non-null  object
 13  DEP_TIME               567633 non-null  float64
 14  DEP_DEL15              567630 non-null  float64
 15  DEP_TIME_BLK           583985 non-null  object
 16  ARR_TIME               566924 non-null  float64
 17  ARR_DEL15              565963 non-null  float64
 18  CANCELLED              583985 non-null  float64
 19  DIVERTED               583985 non-null  float64
 20  DISTANCE               583985 non-null  float64
 21  Unnamed: 21            0 non-null       float64
dtypes: float64(8), int64(8), object(6)
memory usage: 98.0+ MB

In [85]:
df_clean_2019['DEP_TIME'] = pd.to_datetime(df_clean_2019.DEP_TIME,format='%H%M',errors='coerce').dt.time

In [88]:
df_clean_2020['DEP_TIME'] = pd.to_datetime(df_clean_2020.DEP_TIME,format='%H%M',errors='coerce').dt.time

In [89]:
df_clean_2019[['DEP_TIME']]

        DEP_TIME
0       06:01:00
1       13:59:00
2       12:15:00
3       15:21:00
4       18:47:00
...          ...
583980  07:49:00
583981  07:17:00
583982  08:57:00
583983  18:20:00
583984  16:36:00

[583985 rows x 1 columns]

In [90]:
df_clean_2020[['DEP_TIME']]

        DEP_TIME
0       10:03:00
1       10:27:00
2       18:48:00
3       18:46:00
4       10:38:00
...          ...
607341  10:02:00
607342  17:47:00
607343  05:54:00
607344  17:14:00
607345  18:41:00

[607346 rows x 1 columns]

- 2: Drop column Unnamed: 21 from both dataframes.

In [96]:
df_clean_2019.drop(['Unnamed: 21'],1,inplace=True)

In [98]:
df_clean_2020.drop(['Unnamed: 21'],1,inplace=True)

In [97]:
df_clean_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583985 entries, 0 to 583984
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DAY_OF_MONTH           583985 non-null  int64
 1   DAY_OF_WEEK            583985 non-null  int64
 2   OP_UNIQUE_CARRIER      583985 non-null  object
 3   OP_CARRIER_AIRLINE_ID  583985 non-null  int64
 4   OP_CARRIER             583985 non-null  object
 5   TAIL_NUM               581442 non-null  object
 6   OP_CARRIER_FL_NUM      583985 non-null  int64
 7   ORIGIN_AIRPORT_ID      583985 non-null  int64
 8   ORIGIN_AIRPORT_SEQ_ID  583985 non-null  int64
 9   ORIGIN                 583985 non-null  object
 10  DEST_AIRPORT_ID        583985 non-null  int64
 11  DEST_AIRPORT_SEQ_ID    583985 non-null  int64
 12  DEST                   583985 non-null  object
 13  DEP_TIME               567247 non-null  object
 14  DEP_DEL15              567630 non-null  float64
 15  DEP_TIME_BLK           583985 non-null  object
 16  ARR_TIME               566924 non-null  float64
 17  ARR_DEL15              565963 non-null  float64
 18  CANCELLED              583985 non-null  float64
 19  DIVERTED               583985 non-null  float64
 20  DISTANCE               583985 non-null  float64
dtypes: float64(6), int64(8), object(7)
memory usage: 93.6+ MB

In [99]:
df_clean_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607346 entries, 0 to 607345
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DAY_OF_MONTH           607346 non-null  int64
 1   DAY_OF_WEEK            607346 non-null  int64
 2   OP_UNIQUE_CARRIER      607346 non-null  object
 3   OP_CARRIER_AIRLINE_ID  607346 non-null  int64
 4   OP_CARRIER             607346 non-null  object
 5   TAIL_NUM               606648 non-null  object
 6   OP_CARRIER_FL_NUM      607346 non-null  int64
 7   ORIGIN_AIRPORT_ID      607346 non-null  int64
 8   ORIGIN_AIRPORT_SEQ_ID  607346 non-null  int64
 9   ORIGIN                 607346 non-null  object
 10  DEST_AIRPORT_ID        607346 non-null  int64
 11  DEST_AIRPORT_SEQ_ID    607346 non-null  int64
 12  DEST                   607346 non-null  object
 13  DEP_TIME               600353 non-null  object
 14  DEP_DEL15              600647 non-null  float64
 15  DEP_TIME_BLK           607346 non-null  object
 16  ARR_TIME               600271 non-null  float64
 17  ARR_DEL15              599268 non-null  float64
 18  CANCELLED              607346 non-null  float64
 19  DIVERTED               607346 non-null  float64
 20  DISTANCE               607346 non-null  float64
dtypes: float64(6), int64(8), object(7)
memory usage: 97.3+ MB

- 3: Need to handle missing values for columns (ARR_DEL15, ARR_TIME, DEP_DEL15, DEP_TIME, TAIL_NUM) in both data frames.

In [109]:
df_clean_2019.isna().sum()[df_clean_2019.isna().sum()>0].sort_values(ascending=False)

ARR_DEL15    18022
ARR_TIME     17061
DEP_TIME     16738
DEP_DEL15    16355
TAIL_NUM      2543
dtype: int64

In [111]:
df_clean_2020.isna().sum()[df_clean_2020.isna().sum()>0].sort_values(ascending=False)

ARR_DEL15    8078
ARR_TIME     7075
DEP_TIME     6993
DEP_DEL15    6699
TAIL_NUM      698
dtype: int64

Delete rows with missing values.

In [115]:
#Deleting rows with missing values from both data frames.
df_clean_2019.dropna(inplace=True)
df_clean_2020.dropna(inplace=True)

In [121]:
print(df_clean_2019.isna().sum())
print("*" * 50)
print(df_clean_2020.isna().sum())

DAY_OF_MONTH             0
DAY_OF_WEEK              0
OP_UNIQUE_CARRIER        0
OP_CARRIER_AIRLINE_ID    0
OP_CARRIER               0
TAIL_NUM                 0
OP_CARRIER_FL_NUM        0
ORIGIN_AIRPORT_ID        0
ORIGIN_AIRPORT_SEQ_ID    0
ORIGIN                   0
DEST_AIRPORT_ID          0
DEST_AIRPORT_SEQ_ID      0
DEST                     0
DEP_TIME                 0
DEP_DEL15                0
DEP_TIME_BLK             0
ARR_TIME                 0
ARR_DEL15                0
CANCELLED                0
DIVERTED                 0
DISTANCE                 0
dtype: int64
**************************************************
DAY_OF_MONTH             0
DAY_OF_WEEK              0
OP_UNIQUE_CARRIER        0
OP_CARRIER_AIRLINE_ID    0
OP_CARRIER               0
TAIL_NUM                 0
OP_CARRIER_FL_NUM        0
ORIGIN_AIRPORT_ID        0
ORIGIN_AIRPORT_SEQ_ID    0
ORIGIN                   0
DEST_AIRPORT_ID          0
DEST_AIRPORT_SEQ_ID      0
DEST                     0
DEP_TIME                 0
DEP_DEL15                0
DEP_TIME_BLK             0
ARR_TIME                 0
ARR_DEL15                0
CANCELLED                0
DIVERTED                 0
DISTANCE                 0
dtype: int64

Now we are done with missing values.

- 4: Need to merge df_2019 and df_2020 into single dataframe.

In [130]:
df_clean_2019['YEAR'] = 2019
df_clean_2020['YEAR'] = 2020

In [133]:
total_rows = df_clean_2019.shape[0] + df_clean_2020.shape[0]
print('Combined Number of Rows from both data frames = {}'.format(total_rows))

Combined Number of Rows from both data frames = 1164519

In [134]:
df_master = pd.concat([df_clean_2019,df_clean_2020])

In [135]:
print("total number of rows in master data frame = {}".format(df_master.shape[0]))

total number of rows in master data frame = 1164519

since total no of rows in master df are equal to the combined no of rows from both df, so it means we have merged the both data frames correctly.

# Exploratory Data Analysis

In [140]:
df_master.describe()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEP_DEL15,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,YEAR
count,1.164519e+06,1.164519e+06,1.164519e+06,1.164519e+06,1.164519e+06,1.164519e+06,1.164519e+06,1.164519e+06,1.164519e+06,1.164519e+06,1.164519e+06,1164519.0,1164519.0,1.164519e+06,1.164519e+06
mean,1.590766e+01,3.894193e+00,1.998756e+04,2.571829e+03,1.265586e+04,1.265590e+06,1.265576e+04,1.265580e+06,1.540679e-01,1.481780e+03,1.607376e-01,0.0,0.0,8.006047e+02,2.019514e+03
std,8.989491e+00,1.916476e+00,3.759029e+02,1.820912e+03,1.522589e+03,1.522587e+05,1.522693e+03,1.522691e+05,3.610140e-01,5.237345e+02,3.672889e-01,0.0,0.0,5.899227e+02,4.997950e-01
min,1.000000e+00,1.000000e+00,1.939300e+04,1.000000e+00,1.013500e+04,1.013505e+06,1.013500e+04,1.013505e+06,0.000000e+00,1.000000e+00,0.000000e+00,0.0,0.0,3.100000e+01,2.019000e+03
25%,8.000000e+00,2.000000e+00,1.979000e+04,1.020000e+03,1.129200e+04,1.129202e+06,1.129200e+04,1.129202e+06,0.000000e+00,1.101000e+03,0.000000e+00,0.0,0.0,3.680000e+02,2.019000e+03
50%,1.600000e+01,4.000000e+00,1.997700e+04,2.133000e+03,1.288900e+04,1.288903e+06,1.288900e+04,1.288903e+06,0.000000e+00,1.515000e+03,0.000000e+00,0.0,0.0,6.410000e+02,2.020000e+03
75%,2.400000e+01,5.000000e+00,2.036800e+04,3.999000e+03,1.402700e+04,1.402702e+06,1.402700e+04,1.402702e+06,0.000000e+00,1.919000e+03,0.000000e+00,0.0,0.0,1.042000e+03,2.020000e+03
max,3.100000e+01,7.000000e+00,2.045200e+04,7.439000e+03,1.686900e+04,1.686901e+06,1.686900e+04,1.686901e+06,1.000000e+00,2.400000e+03,1.000000e+00,0.0,0.0,5.095000e+03,2.020000e+03